.center{
    margin: 0 auto;
    text-align: center;

  }
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color:#d9c2a3;
    text-decoration: none;
    padding: 35px;
} 
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color:#000000;
} 
#hero-img {
    width: 100%;
} 

.button-box {
    text-align: center;
    color:#d9c2a3;
    margin: 30px;
} 
main section  {
    text-align: center;
}  

#background {
    height: 725px;
    background-color: #d9c2a3;
    color:rgb(0, 0, 0)
}
body {
    background-color: #e0f7ff; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color:#d9c2a3;
}
.home-title {
    color:#d9c2a3;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
h4 {
    color:#d9c2a3;
}
.msg {
    background-color: black;
    line-height: 1.5em;
}
.msg h2 {
    color:#ffffff;
    font-size: o.8em;
    padding-bottom: 15px;
}
.msg p {
    color:#ffffff;
    font-size: 18px;
}
.book, .join {
    background-color: #d9c2a3;
    color: #050505;
    text-decoration: none;
    padding-top: 5px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover, .join:hover {
    background-color: black;
    color: #d9c2a3;
}
.card-img{
    border: 10px solid #d9c2a3;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.msg {
    background-color: rgba(20,30,13, .7);
    color: #d9c2a3;
    padding: 35px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

.mountains {
    margin-top: 100px;
    margin-bottom: 100px;
}

#logo_link {
    padding-top: 5px;
}

.logo {
    width: 90px;
}
.logo-title {
    margin-top: 10px;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer {
    background-color:rgba(20,30,13, .7);
    color:#d9c2a3;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color:#d9c2a3;
    text-decoration: none;
}
footer a:hover {
    color:rgba(0, 0, 0)
}
footer .social img{
    padding-top: 15px;
}
